body {
    min-width: 570px;
    margin: 0;
    font-size: 40px;
    font-family: "Arial", sans-serif;
    font-weight: bold;
    color: #ffffff;
    background-color: #111111;
}

.container {
  padding-top: 5%;
  text-align: center;
}

.container p {
    text-shadow:
        2px -2px 0 #7fdbff,
        4px -4px 0 #39cccc,
        6px -6px 0 #3d9970,
        8px -8px 0 #2ecc40,
        10px -10px 0 #01ff70,
        12px -12px 0 #ffdc00,
        14px -14px 0 #ff851b,
        16px -16px 0 #ff4136,
        18px -18px 0 #f012be,
        20px -20px 0 #b10dc9;
}
